{% extends 'base.html' %}
{% block title %} Поменять пароль{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Поменять пароль</li>
    </ol>
</nav>

{% include 'snippets/messages.html' %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-primary shadow">
            <div class="card-body">
                <h5 class="card-title text-center mb-4"><i class="fas fa-lock"></i> Смена пароля</h5>
                <form action="" method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-lg" type="submit">Сменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
